[user]
	email = mario.emilio.j@gmail.com
	name = MarioJim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	editor = nvim
	autocrlf = false
[pull]
	rebase = true
[rebase]
	autoStash = true
