[core]
	editor = nvim
	autocrlf = false

[color]
	ui = auto

[user]
	email = mario.emilio.j@gmail.com
	name = MarioJim

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[pull]
	rebase = true

[rebase]
	autoStash = true

[init]
	defaultBranch = main
[credential]
	helper = cache --timeout=3600
